.main {
    height: 478px;
}

.main .main_pic {
    float: left;
    margin-top: 10px;
    margin-left: 219px;
    width: 718px;
    height: 457px;
}


.main .news {
    float: right;
    margin-top: 10px;
    width: 250px;
    height: 457px;
    border: 1px solid #e8e8e7;
    overflow: hidden;
}

.main .news .news_top {
    height: 36px;
    line-height: 36px;
    border-bottom: 1px solid #e8e8e7;
}

.main .news .news_top div {
    display: inline-block;
}

.main .news .news_top .listnews {
    float: left;
    padding-left: 20px;
    font-size: 14px;
    color: #333333;
}

.main .news .news_top .more {
    padding-right: 10px;
    float: right;
    font-size: 12px;
    color: #333333;
}

.main .news .news_top .more::after {
    padding-left: 7px;
    content: '\ea42';
    font-family: 'Linearicons-Free';
}

.main .news .detail {
    height: 140px;
    border-bottom: 1px solid #e8e8e7;
}

.main .news .detail ul li {
    margin-left: 10px;
    height: 27px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #666666;
    font-size: 16px;
    line-height: 27px;
}

.main .news .detail ul li a {
    padding-left: 5px;
}

.main .news .bd {
    height: 210px;
    width: 253px;
}

.main .news .bd ul li {
    float: left;
    width: 63px;
    height: 70px;
    text-align: center;
    border-right: solid 1px #e8e8e7;
    border-bottom: solid 1px #e8e8e7;
}

.main .news .bd ul li h5 {
    height: 28px;
    width: 22px;
    margin-left: 20px;
    margin-top: 10px;
    background: url(../images/icons.png) no-repeat -18px -15px;
}

.main .news .bd ul li p {
    color: #666666;
    font-size: 12px;
}

.main .news .song {
    width: 250px;
    height: 75px;
    background-image: url(../images/song.PNG);
}

/* 推荐模块 */
.recom {
    height: 160px;
    background-color: #ebebeb;
}

.recom .recom_hd {
    padding-top: 30px;
    float: left;
    width: 206px;
    height: 160px;
    text-align: center;
    background-color: #5c5251;

}

.recom .recom_bd {
    float: left;

}

.recom .recom_bd ul li {
    position: relative;
    float: left;
}

.recom .recom_bd ul li:nth-child(-n+3)::after {
    position: absolute;
    top: 10px;
    right: 10px;
    content: '';
    width: 1px;
    height: 132px;
    background-color: #dddddd;
}

.recom .recom_bd ul li img {
    height: 153px;
    width: 242px;
}

/* 楼层区 */
.floor .jiadian {
    height: 505px;
}

.box_hd {
    padding-top: 30px;
    height: 60px;
    border-bottom: 2px solid #c81623;
}

.box_hd h3 {
    float: left;
    font-size: 18px;
    font-weight: 400;
    color: #c81623;
}

.box_hd .tab_list {
    float: right;
}

.tab_list ul li {
    float: left;
    font-size: 12px;
}

.tab_list ul li a {
    margin: 0 15px;
}

.box_bd {
    height: 360px;
    background-color: #f9f9f9;
}

.box_bd div {
    float: left;
}

.box_bd div:nth-of-type(1) {
    width: 208px;
}

.box_bd div:nth-of-type(2) {
    width: 330px;
}

.box_bd div:nth-of-type(n+3) {
    width: 208px;
}

.box_footer {
    padding-top: 18px;
    height: 62px;
}

.focus {
    position: relative;
    overflow: hidden;
    width: 718px;
    height: 457px;
}

.arrows {
    position: absolute;
    display: none;
    width: 718px;
    height: 450px;
    z-index: 2;
}

.arrows a {
    font-weight: 700;
    color: white;
    font-size: 20px;
}

.arrow-l {
    position: absolute;
    top: 50%;
    left: 10px;
}

.arrow-r {
    position: absolute;
    top: 50%;
    right: 10px;
}

.circle {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 3;
}

.circle li {
    float: left;
    width: 10px;
    height: 10px;
    margin-left: 3px;
    border-radius: 50%;
    border: 1px solid #f9f9f9;
}

.current {
    background-color: #f9f9f9;
}

.imgs li img {
    width: 718px;
    height: 457px;
}

.imgs {
    position: absolute;
}

.imgs li {
    float: left;
}